/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background-color: #f2f2f2;
}