html {
  background-color: #333;
  color: white;
  font-family: Arial;
}

body * {
  color: white;
  border-radius: 4px;
  margin: 0.5vw;
  padding: 3%;
  text-align: center;
}

div {
  padding-left: 0;
  padding-right: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.header, 
.footer {
  background-color: #3b3838;
  height: 10vh;
  margin: 0%;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  font-size: 30px;
  border: 1px #575355 solid;
}

.content {
  display: flex;
}

section {
  margin-left: 0.5% !important;
  margin-right: 0.5% !important;
}

button {
  font-size: 110%;
  background-color: darkslategray;
}

input {
  color: black;
}

.column {
  border: 1px #575355 solid;
  font-size: 150%;
  overflow: auto;
  max-width: 33%;
  max-height: 70vh;
  margin: 0;
  min-height: 40vh;
  background-color: darkslategray;
  flex:25%;
  padding: 3%;
}

.footer {
  clear: both;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 80%;
  overflow: auto;
  text-align: left;
  background: #333;
  margin: 3%;
}