.jfk-textinput {
 -webkit-border-radius:1px;
 -moz-border-radius:1px;
 border-radius:1px;
 border:1px solid #d9d9d9;
 border-top:1px solid #c0c0c0;
 font-size:13px;
 height:25px;
 padding:1px 8px
}
.jfk-textinput:focus {
 -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
 -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
 box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
 border:1px solid #4d90fe;
 outline:none
}
.jfk-textinput::-ms-clear {
 display:none
}
a {
 text-decoration:none
}
a:link {
 color:#15c
}
a:visited {
 color:#61c
}
a:active {
 color:#d14836
}
a:hover {
 text-decoration:underline
}
body {
 font-family:arial,sans-serif;
 font-size:13px;
 margin:0
}
#oc-search-image {
 background:url(//www.google.com/intl/en_ALL/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png) no-repeat
}
#oc-search-logo {
 color:#4285f4;
 font-family:roboto-regular,arial,sans-serif;
 font-size:16px;
 position:relative;
 white-space:nowrap
}
@media (min-width:801px) {
 #oc-search-image-box {
  padding:120px 0 24px
 }
 #oc-search-image {
  background-size:272px 92px;
  height:92px;
  width:272px
 }
 #oc-search-logo {
  font-size:16px;
  left:101px;
  top:74px
 }
 #oc-search-button-box {
  margin-left:12px
 }
 #oc-search-button {
  width:70px
 }
 #oc-search-description {
  margin-top:28px;
  font-size:14px
 }
}
@media (max-width:800px) {
 #oc-search-input-box {
  width:88%
 }
 #oc-search-image-box {
  padding:70px 0 24px
 }
 #oc-search-image {
  background-size:200px 68px;
  height:68px;
  width:200px
 }
 #oc-search-logo {
  font-size:13px;
  left:77px;
  top:54px
 }
 #oc-search-button {
  padding:1px 0;
  width:40px
 }
 #oc-search-description {
  margin:16px;
  font-size:13px
 }
}
@media (orientation:landscape) and (max-width:800px) {
 #oc-search-image-box {
  padding:35px 0 24px
 }
}
@media (max-width:500px) {
 #oc-search-input-box {
  width:96%
 }
}
#oc-search-button {
 margin-left:12px;
 border:1px solid #3079ed;
 border-radius:2px;
 height:27px;
 background-color:#357ae8;
 background-image:-webkit-linear-gradient(top,#4d90fe,#357ae8);
 background-image:-moz-linear-gradient(top,#4d90fe,#357ae8);
 background-image:-ms-linear-gradient(top,#4d90fe,#357ae8);
 background-image:-o-linear-gradient(top,#4d90fe,#357ae8);
 background-image:linear-gradient(to bottom,#4d90fe,#357ae8)
}
#oc-search-button input {
 cursor: pointer;
 background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAtUlEQVQoz2P4//8/AxQbAvFBIP7yHwJA9BGoOAM2DGNkAPHv/9jBb6g8Vs0gk39BFd4G4hggloPSt6Hiv7C5AETshyq4i8N5d6Hy+7Fp/gqVDMChOQAq/xWb5r9QSUkcmiWh8n/x2eyDQ7MPPpsPEunng9g0myJFEyh0I4BYBErfRoqyXHLiGRmsxqYZ5gJQivoGVfgNyi/BZQADrqSHhtdhM4BYzVgNIEUzugHrSNUMMwCEGQDxZPLNLQuzXAAAAABJRU5ErkJggg==) no-repeat center center;
 height:27px;
 vertical-align:top;
 color:transparent;
 border:0;
 width:100%
}
#oc-search-input {
 width:100%;
 height:29px;
 font-size:17px
}
#oc-search-input:focus {
 border-color:#d9d9d9;
 box-shadow:none
}
#oc-search-input:hover {
 border-color:#a0a0a0
}
.footerOuter {
 position:absolute;
 bottom:0;
 height:75px;
 width:100%
}
.footerInner {
 position:absolute;
 bottom:0;
 left:0;
 right:0;
 background:#f2f2f2;
 border-top:1px solid #e4e4e4;
 line-height:49px;
 text-align:center
}
.footerLeft {
 white-space:nowrap;
 margin:0 30px
}
.footerRight {
 white-space:nowrap;
 margin:0 30px
}
.footerInner a {
 display:inline-block;
 color:#666;
 white-space:nowrap;
 margin-left:27px
}
.footerInner a:first-child {
 margin-left:0
}
@media (min-width:501px) {
 .footerLeft {
  float:right
 }
 .footerRight {
  float:left
 }
}
@media (max-width:500px) {
 .footerLeft {
  display:none
 }
}
.ac-renderer {
 position:absolute;
 background-color:#fff;
 border:1px solid #ccc;
 border-top-color:#d9d9d9;
 font-size:13px;
 line-height:1.3em;
 overflow:hidden;
 white-space:nowrap;
 -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.2);
 -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
 box-shadow:0 2px 4px rgba(0,0,0,0.2)
}
.gb-reset .ac-renderer {
 font-size:100%
}
.ac-active {
 background-color:#4d90fe;
 color:white
}
.ac-row {
 padding:2px 5px
}

#oc-search-button:hover {
 border: 1.5px solid #4f4f4f;
}

p {
  text-align: center;
}

tbody {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 1vw;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

button:hover {
  background-color: #008CBA;
  color: white;
}

button:disabled {
  border: 2px solid #f44336;
  background-color: #f44336;
  color: white;
  cursor: not-allowed;
}

.container {
  display: flex;
  justify-content: center;
}