h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  width: 15em;
  text-align: center;
  font-size: 2em;

}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

nav {
  display: flex;
  justify-content: center;
  max-width: 80em;
  margin: auto;
}