.content {
  display: flex;
  width: 80vw;
  margin: auto;
}

.column {
  flex:10%;
  padding: 0 4px;
  margin: 1vh 0;
}

.column img {
  width: 9vw;
  height: 14vw;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid grey;
}

.column p {
  max-height: 3.5vw;
  overflow: hidden;
}

.column > div {
  height: 20vw;
  text-align: center;
}

.book_container {
  padding-top: 1vh;
  height: 19vw;
  border: 2px solid transparent;
  -webkit-transition:0.6s;
  cursor: pointer;
}

.book_container:hover {
  border: 2px solid grey;
}

button {
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #333;
}

button:hover {
  background-color: #333;
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 10vh;
  text-align: center;
}